# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\peng.c.zhang\IdeaProjects\design-pattern\.idea/dataSources/
.idea/
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
target/
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar